@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mdMenuItem {
    @apply ease-linear cursor-pointer hover:text-red-600 hover:scale-105 duration-200 md:text-xl text-lg;
  }

  .marqueeLink {
    color: black/70;
    background: linear-gradient(
      90deg,
      violet,
      indigo,
      blue,
      green,
      orange,
      red
    );
    background-clip: text;
    -webkit-background-clip: text;
  }

  .marqueeLink:hover {
    color: transparent;
    transition: 250ms ease;
    @apply underline;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.embla {
  overflow: "hidden";
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 100%;
}
